//ШРИФТЫ
$font: "Gotham Pro", "Arial", "Helvetica", "Helvetica CY", "Nimbus Sans L", sans-serif;

// РЕТИНА
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// РАЗРЕШЕНИЯ
$width-desktop: 1200px;
$width-tablet: 960px;
$width-tablet-small: 640px;
$width-mobile: 320px;

$desktop-gap: 30px;
$mobile-gap: 15px;

// ЦВЕТА
$text-main: #000;
$text-minor: #888;
$stroke: #D1D8E1;
$bg-hover: #E6E6EF;
$bg: #F4F4F8;
$disabled: #dadada;

$primary: #00ADEB;
$primary-hover: #113EE0;


